* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div {
  position:relative;
  z-index: 2;
}

body {
  background-color: #7A8B8B;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-weight:400;
}
.quote-box {
  border-radius:3px;
  position:relative;
  margin:1% auto auto auto;
  width:450px;
  padding:20px 20px;
  display:table;
  background-color:#D1EEEE;
  .quote-text {
    i{
      font-size:1.0em;
      margin-right: 0.2em;
    }
    text-align:center;
    width:450px;
    height:auto;
    clear:both;
    font-weight:300;
    font-size:1.0em;
  }
}